// Toolbar Styles
.main-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  height: 56px;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  background: #252525;
  color: #EEE;

  a {
    text-decoration: none;
  }
}

.admin-indicator {
  background: var(--color-warn);
}

.spacer {
  flex: 1 1 auto;
}

// Sidenav Styles
.mat-sidenav {
  width: 215px;
  margin-top: 56px;
  border: none;
  background: #1D1D1D;
}

.mat-nav-list {
  padding-left: 0px;
}

.mat-list-item {
  color: white;
  &:hover {
    background-color: var(--color-gray-3);
  }
}

.list-item {
  padding-left: 6px;
}

.link-active {
  color: var(--color-primary-light);
  &:hover {
    color: var(--color-primary-light);
  }
}

.icon {
  padding-left: 2px;
  padding-right: 6px;
  color: #606060;
}

.sub-menu {
  padding-left: 50px;
}

.menu-button {
  margin-left: 12px;
}

hr {
  border-top: 1px solid #ccc;
}

.divider-dark {
  border-top-color: var(--color-gray-3);
  margin-top: 8px;
  margin-bottom: 12px;
}

.angularnuggets-image {
  height: 28px;
  width: auto;
  padding-left: 4px;
  // @media screen and (max-width: 599px) {
  //   height: 28px;
  // }
}
.ngnuggets-image {
  height: 22px;
  width: auto;
  padding-left: 6px;
  // @media screen and (max-width: 599px) {
  //   height: 28px;
  // }
}

// PAGE STYLES
mat-sidenav-content {
  padding-top: 56px;
}

.page-container {
  position: relative; // used for route animation
}

.page-container>* {
  display: block;
}

.page-container-handset {
  padding: 0px 0px 10px 0px;
}