<!-- SIGNED IN -->
<div *ngIf="userAuthStatus$ | async" class="auth-icon-container" [matMenuTriggerFor]="menuSignedIn">
  <mat-icon class="handset-person-icon">person</mat-icon>
  <mat-menu #menuSignedIn="matMenu">
    <button mat-menu-item (click)="onSignOut()">Sign Out</button>
  </mat-menu>
</div>

<!-- NOT SIGNED IN -->
<div *ngIf="(userAuthStatus$ | async) === null" class="auth-icon-container" [matMenuTriggerFor]="menuSignedOut">
  <!-- HANDSET -->
    <mat-icon class="handset-person-icon">person_outline</mat-icon>
    <mat-menu #menuSignedOut="matMenu">
      <button mat-menu-item (click)="onSignIn()">Sign In With Google</button>
    </mat-menu>
</div>
