<div [@pageTransition]>
  <div class="banner">
    <img src="assets/images/sw-banner.jpg" />
  </div>
  <section class="section hero">
    <h1 class="hero-title">Steve Witman</h1>
    <h3 class="hero-subtitle">Software Engineer<span class="pipe">|</span>Angular</h3>
    <div *ngIf="showEmail">
      <h3 class="email">stevewitman@gmail.com</h3>
    </div>
    <div class="social">
      <a href="https://www.linkedin.com/in/stevewitman/" target="_blank">
        <div class="social-cell">
          <i class="fa fa-linkedin"></i>
        </div>
      </a>
      <a href="https://github.com/stevewitman" target="_blank">
        <div class="social-cell">
          <i class="fa fa-github"></i>
        </div>
      </a>
      <a href="https://twitter.com/stevewitman" target="_blank">
        <div class="social-cell">
          <i class="fa fa-twitter"></i>
        </div>
      </a>
      <a href="https://www.meetup.com/angularboulder/" target="_blank">
        <div class="social-cell">
          <i class="fa fa-meetup"></i>
        </div>
      </a>
      <!-- <a
        href="https://www.youtube.com/channel/UCi1CJ7oOQjAMh6-4YqZ7hyw"
        target="_blank"
      >
        <div class="social-cell">
          <i class="fa fa-youtube social-icon"></i>
        </div>
      </a> -->
      <!-- <div class="link" (click)="toggleEmail()">
        <div class="social-cell">
          <i class="fa fa-envelope"></i>
        </div>
      </div> -->
    </div>
    <div>
      <h3 class="email">stevewitman@gmail.com</h3>
    </div>
  </section>
  <!-- <section class="section section-dark">
    <h2>Index</h2>
    <app-index></app-index>
  </section> -->
  
  <!-- PROJECTS SECTION -->
  <section class="section section-dark">
    <h2 class="section-title">Projects</h2>
    <div class="container-flex-2">
      <a href="https://ngnuggets.com">
        <mat-card class="summary-card card-dark">
          <h3 class="card-title">Latest Angular Blogs & Videos</h3>
          <h4 class="card-subtitle">
            ngnuggets.com <span class="accent">(MVP Aug 31, 2022)</span>
          </h4>
          <img class="card-image" src="assets/images/PROJ-ngnuggetsdotcom.png" />
        </mat-card>
      </a>
      <mat-card class="summary-card card-dark">
        <h3 class="card-title">My Personal Website</h3>
        <h4 class="card-subtitle">stevewitman.com</h4>
        <img class="card-image" src="assets/images/PROJ-stevewitmandotcom.png" />
      </mat-card>
    </div>
  </section>
  <section class="section section-light">
    <h2 class="section-title">Pairing & Mentoring</h2>
    <h5 class="card-subtitle coming-soon">(coming - Spring '23)</h5>
    <p class="mentoring-description">
      My goal is to set up a platform to help anyone and everyone who is either an aspiring or an accomplished Angular developer to continue to expand their Angular knowledge, practice technical communication, and grow your Angular network!  
    </p>
  </section>
  <!-- VOLUNTEER / COMMUNITY SECTION -->
  <section class="section section-dark">
    <h2 class="section-title">Volunteer / Community</h2>
    <div class="container-flex">
      <!-- <div class="container-flex-1"> -->
      <a href="https://www.meetup.com/angularboulder/">
        <mat-card class="summary-card card-dark">
          <h3 class="card-title">Founder & Organizer</h3>
          <h4 class="card-subtitle">Angular Boulder Meetup</h4>
          <h5 class="card-date">2017 - Present</h5>
          <img
            class="card-image"
            src="assets/images/VOL-angularboulder-meetup.png"
          />
        </mat-card>
      </a>
      <a href="https://angularcommunity.net">
        <mat-card class="summary-card card-dark">
          <h3 class="card-title">Co-Organizer</h3>
          <h4 class="card-subtitle">Angular Community Meetup</h4>
          <h5 class="card-date">2022 - Present</h5>
          <img class="card-image" src="assets/images/VOL-angular-community.png" />
        </mat-card>
      </a>
      <a href="https://ngnuggets.com">
        <mat-card class="summary-card card-dark">
          <h3 class="card-title">Creator</h3>
          <h4 class="card-subtitle">ngNuggets.com</h4>
          <h5 class="card-date">2022 - Present</h5>
          <img class="card-image" src="assets/images/VOL-ngnuggets.png" />
        </mat-card>
      </a>
    </div>
  </section>
  
  <!-- <section class="section section-light">
    <h2 class="section-title">Videos</h2>
    <h5 class="card-subtitle coming-soon">(Coming - Fall '22)</h5>
  </section> -->
  <!-- <section class="section section-dark">
    <h2 class="section-title">Articles</h2>
    <h5 class="card-subtitle coming-soon">(Coming - Fall '22)</h5>
  </section> -->
  <section class="section section-light">
    <h2 class="section-title">Presentations</h2>
    <div class="container-flex">
      <a href="https://www.meetup.com/angularboulder/events/288010326/">
        <mat-card class="summary-card card-light mat-elevation-z0">
          <h3 class="card-title">Typed Forms in Angular 14</h3>
          <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
          <h5 class="card-date">UPCOMING ... October '22</h5>
          <img
          class="card-image"
          src="assets/images/2022-10-10 Typed Forms in Angular 14 (ABM).jpg"
          />
        </mat-card>
      </a>
      <a href="https://www.meetup.com/angularboulder/events/288007882/">
        <mat-card class="summary-card card-light mat-elevation-z0">
          <h3 class="card-title">Angular URL Shortener</h3>
          <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
          <h5 class="card-date">September 2022</h5>
          <img
            class="card-image"
            src="assets/images/2022-09-13 Angular URL Shortener and ng-conf Recap (ABM).jpg"
          />
        </mat-card>
      </a>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Older Presentations</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <ul>
          <li>Jun 2022 - Angular Dynamic Components</li>
          <li>Apr 2022 - Angular Change Detection</li>
          <li>Mar 2022 - Angular Custom Pipes</li>
          <li>Feb 2022 - Angular Custom Directives</li>
          <li>Dec 2021 - Angular Getting Started</li>
          <li>Nov 2021 - Angular The Framework</li>
          <li>Sep 2021 - Observables In Angular Part 3</li>
          <li>Aug 2021 - Observables In Angular Part 2</li>
          <li>July 2021 - Observables In Angular Part 1</li>
          <li>Apr 2021 - Angular Custom Components</li>
          <li>Mar 2021 - The Angular Router</li>
          <li>Feb 2021 - Nx Workspaces With Angular</li>
          <li>Jab 2021 - Angular Architectural Considerations</li>
        </ul>
      </mat-card>
      <!-- <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Dynamic Components</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">June '22</h5>
        <img
          class="card-image"
          src="assets/images/2022-06-14 Angular Dynamically Loading Components (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Change Detection</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">April '22</h5>
        <img
          class="card-image"
          src="assets/images/2022-04-12 Angular Change Detection (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Custom Pipes</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">March '22</h5>
        <img
          class="card-image"
          src="assets/images/2022-03-08 Angular Custom Pipes (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Custom Directives</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">February '22</h5>
        <img
          class="card-image"
          src="assets/images/2022-02-08 Angular Custom Directives (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Getting Started</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">December '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-12-14 Angular Getting Started (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular The Framework</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">November '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-11-09 Angular The Framework (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Observables In Angular Part 3</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">September '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-09-14 Observables In Angular Part 3 (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Observables In Angular Part 2</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">August '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-08-10 Observables In Angular Part 2 (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Observables In Angular Part 1</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">July '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-07-13 Observables In Angular Part 1 (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Animations</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">May '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-05-11 Angular Animations (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Custom Components</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">April '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-04-13 Angular Custom Components (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">The Angular Router</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">March '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-03-09 The Angular Router (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Nx Workspaces With Angular</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">February '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-02-09 Nx Workspaces With Angular (ABM).jpg"
        />
      </mat-card>
      <mat-card class="summary-card card-light mat-elevation-z0">
        <h3 class="card-title">Angular Architectural Considerations</h3>
        <h4 class="card-subtitle darker">Angular Boulder Meetup</h4>
        <h5 class="card-date">January '21</h5>
        <img
          class="card-image"
          src="assets/images/2021-01-12 Angular Architectural Considerations (ABM).jpg"
        />
      </mat-card> -->
    </div>
  </section>
  
  <!-- <section class="section section-dark">
    <h2 class="section-title">About</h2>
  </section> -->
  <!-- <section class="section section-light">
    <h2 class="section-title">Contact</h2>
  </section> -->
  <!-- <section class="section section-dark" #resume>
    <h2 class="section-title">Resume</h2>
    <app-resume></app-resume>
  </section> -->
</div>
