.form-container {
  // width: 100%;
  padding: 1rem;
}
.ff {
  width: 100%;
}

.title-input {
  width: 100%;
}

.markdown-input {
  font-family: Consolas, monospace;
  width: 100%;
  min-height: calc(100vh - 300px);
} 