<div class="blog-form">
  <form class="form-container" [formGroup]="blogForm" autocomplete="off">
    <mat-form-field appearance="outline" class="ff">
      <mat-label>Blog Title</mat-label>
      <input matInput class="title-input" formControlName="title" placeholder="Title">
    </mat-form-field>
    <mat-form-field appearance="outline" class="ff">
      <mat-label>Tags</mat-label>
      <input matInput class="title-input" formControlName="tags" placeholder="Tags">
    </mat-form-field>

    <mat-form-field appearance="outline" class="ff">
      <mat-label>Markdown</mat-label>
      <textarea matInput class="markdown-input" formControlName="markdown" placeholder="Start writing ..."></textarea>
    </mat-form-field>
  </form> 
</div>
