<article class="resume">
  <h1>Steve Witman</h1>
  <h2>Software Engineer  |  Frontend Focused  |  Full-Stack Capable</h2>
  <section>
    <h3>PERSONAL INFO</h3>
    <ul>
      <li>
        <span class="title">Location: </span>
        <span class="subtitle">Boulder, Colorado</span>
      </li>
      <li>
        <span class="title">Phone: </span>
        <span class="subtitle">970-726-9930</span>
      </li>
      <li>
        <span class="title">Email: </span>
        <span class="subtitle">stevewitman@gmail.com</span>
      </li>
      <li>
        <span class="title">LinkedIn: </span>
        <span class="subtitle">linkedin.com/in/stevewitman</span>
      </li>
      <li>
        <span class="title">Github: </span>
        <span class="subtitle">github.com/stevewitman</span>
      </li>
      <li>
        <span class="title">Twitter: </span>
        <span class="subtitle">twitter.com/stevewitman</span>
      </li>
      <li>
        <span class="title">Meetup: </span>
        <span class="subtitle">meetup.com/angularboulder</span>
      </li>
      <li>
        <span class="title">Website: </span>
        <span class="subtitle">stevewitman.com</span>
      </li>
    </ul>
  </section>

  <section class="skills">
    <h3>SKILLS</h3>
    <ul>
      <li>
        <span class="title">Angular</span>
      </li>
      <li>
        <span class="title">TypeScript</span>
      </li>
      <li>
        <span class="title">JavaScript</span>
      </li>
      <li>
        <span class="title">RxJS</span>
      </li>
      <li>
        <span class="title">NgRx</span>
      </li>
      <li>
        <span class="title">Nx Monorepo</span>
      </li>
      <li>
        <span class="title">Jest</span>
      </li>
      <li>
        <span class="title">Cypress</span>
      </li>
      <li>
        <span class="title">Firebase</span>
      </li>
      <li>
        <span class="title">Git</span>
      </li>
      <li>
        <span class="title">Angular Material</span>
      </li>
      <li>
        <span class="title">HTML</span>
      </li>
      <li>
        <span class="title">CSS / SCSS</span>
      </li>
    </ul>
  </section>

  <section>
    <h3>WORK EXPERIENCE</h3>
    <ul>
      <li>
        <h4>Enterprise Software Engineer</h4>
        <h5>Briebug (Lakewood, CO)</h5>
        <h6>2019 - 2020</h6>
        <ul class="bullet-list">
          <li>Worked on MVP of an internal education
        platform using Angular and TypeScript</li>
          <li class="bullets">Wrote tests with Jest</li>
        </ul> 
      </li>
    </ul>
    <ul>
      <li>
        <h4>Senior Civil Engineering Designer</h4>
        <h5>TKE Civil & Structural Engineering (Granby, CO)</h5>
        <h6>2016 - 2019</h6>
        <ul class="bullet-list">
          <li>Created Civil Engineering construction plan sets</li>
          <li class="bullets">Coordinated with clients and produced creative
       solutions that maximized project goals while
       adhering to jurisdictional code and regulations</li>
        </ul> 
      </li>
    </ul>
    <ul>
      <li>
        <h4>Technical Admissions Officer</h4>
        <h5>Galvanize (Boulder, CO)</h5>
        <h6>2015 - 2016</h6>
        <ul class="bullet-list">
          <li>Conducted Code Pairing Interviews</li>
          <li class="bullets">Improved technical interview process</li>
        </ul> 
      </li>
    </ul>
  </section>
  <section>
    <h3>EDUCATION</h3>
    <ul>
      <li>
        <h4>Full Stack Web Development 6-Month Immersive</h4>
        <h5>Galvanize (Boulder, CO)</h5>
        <h6>2015</h6>
      </li>
    </ul>
    <ul>
      <li>
        <h4>BA Business Administration | Marketing)</h4>
        <h5>Colorado State University (Fort Collins, CO)</h5>
        <h6>1997</h6>
      </li>
    </ul>
  </section>
  <section>
    <h3>VOLUNTEER / ANGULAR COMMUNITY</h3>
    <ul>
      <li>
        <h4>Meetup Founder, Organizer, and Speaker</h4>
        <h5>Angular Boulder Meetup</h5>
        <h6>2017 - Pressent</h6>
      </li>
    </ul>
    <ul>
      <li>
        <h4>Channel Co-Host</h4>
        <h5>Angular Nation Beginners Channel</h5>
        <h6>2022 - Pressent</h6>
      </li>
    </ul>
  </section>
</article>
