article {
  max-width: 800px;
  padding: 24px 48px;
  background-color: beige;
  color: black;
  @media screen and (max-width: 650px) {
  padding: 16px;
  }
} 

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 20px;
}
h4 {
  font-size: 16px;
  // font-weight: 300;
  margin-bottom: 2px;
}
h5 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2px;
}
h6 {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 2px;
}

ul {
  padding-left: 24px;
  list-style-type: none;
}

li {
  padding: 4px 0;
}

.title {
}

.subtitle {
  font-weight: lighter;
}
.bullet-list {
  list-style-type: circle;
}