<!-- <div class="blog-content-container">
    <div class="editor-and-preview">
    <div class="content-main">    
      <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Date Created</mat-label>
    <input matInput value="dateCreated">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Markdown</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
    </div>
    <div class="content-sidebar-right">
      <app-blog-detail></app-blog-detail>
    </div>
  </div>
</div> -->
<div class="page-container">

  <div class="editor-pane">
    <app-admin-blog-edit></app-admin-blog-edit>
  </div>
  <div class="preview-pane">
    <app-blog-detail [blogHTML$]="blogHTML$"></app-blog-detail>
  </div>
  
</div>