<div class="page-container-narrow" [@pageTransition]>
  <h2>About</h2>
  <img class="page-banner" src="assets/images/bookshelf.jpg" />
  <h4>Software Engineer<span class="pipe">|</span>Angular</h4>
  <p>
    I am currently available and looking for a Mid, working towards Senior, Angular role. 
  </p>
  <p>
    After many years of chasing the next hot new web and full-stack technologies, I finally decided to focus and become an expert in one primary technology - Angular. 
  </p>
  <p>
    In 2017, I founded the <a href="https://www.meetup.com/angularboulder/">Angular Boulder Meetup</a>  (in-person meetup). Today, I continue to Organize that meetup and recently became a Co-Organizer of the 4000+ member <a href="https://www.meetup.com/angularcommunity/">Angular Community Meetup</a> (virtual meetup).
  </p>
  <p>
    As a side project, I created and maintain <a href="https://ngnuggets.com">ngNuggets.com</a>, a site with daily, hastily curated, Angular videos, blogs, podcasts and releases to highlight the best and new Angular content creators and aid in their discoverability.
  </p>
  <p>
    Next up is a free site where Angular mentors and mentees can connect and expand their Angular and technical communication skills. 
  </p>
  <p>
    Please <a routerLink="contact">contact</a> me if you would like to talk. 
  </p>
</div>