:root {
  --color-primary: #00B8D4;
  --color-accent: #FFD600;
  --color-warn: #FF6D00;
  --color-red: #CB2B39;

  --color-gray-100: #333;
  --color-gray-100: #333;
  --color-gray-100: #333;
  --color-gray-100: #333;
  --color-gray-100: #333;
  --color-gray-100: #333;
  --color-gray-100: #333;
  --color-gray-100: #333;
  --color-gray-100: #333;
}
// CSS Reset
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #EEEEEE;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}