  .blog-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  .blog-description {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  .markdown {
  // H1 - Title
  // H2 - Heading
  // H3 - Sub-Heading
  // H4 - Code block filename / title
  // H5 - Terminal commands
  // H6 - Tag
  // *...* - Highlight
  // display: flex;
  align-items: left;
  width: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  // &:first-child {
  //   color: var(--color-gray-1);
  //   color: red;
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  pre,
  blockquote {
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
  }

  p+h4,
  p+h5,
  p+h6,
  p+code,
  p+blockquote {
    margin-top: 20px;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  h2 {
    color: var(--color-gray-1);
    font-size: 32px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 20px;
    text-transform: none;
  }

  h3 {
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 18px;
  }

  h4 {
    // using for file names on code blocks
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 6px 20px;
    border-radius: 6px 6px 0 0;
    background-color: var(--color-primary);
    color: white;
    margin-bottom: 0;
  }

  pre {
    font-family: Consolas, monospace;
    letter-spacing: 0.5px;
    border: 1px solid var(--color-gray-E);
    padding: 1rem;
    background-color: var(--color-primary-very-light);
    white-space: pre-wrap;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px
  }

  h4+pre {
    border-radius: 0 0 6px 6px;
  }

  h5 {
    // using for terminal commands
    font-family: Consolas, monospace;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--color-gray-4);
    color: #77F94E;
    em {
      font-style: normal;
      padding: 0 3px 1px 3px;
      border-radius: 3px;
      background-color: #77F94E;
      color: black;
    }

    &:before {
      color: #77F94E;
      font-weight: 900;
      content: "\203A";
      padding-right: 10px;
    }
  }

  h6 {
    // using for file names on code blocks
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    padding: 6px 20px;
    border-radius: 6px 6px 0 0;
    background-color: var(--color-gray-A);
    color: white;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--color-gray-3);
    margin-bottom: 16px;

    code {
      font-family: Consolas, monospace;
      letter-spacing: 0.5px;
      padding: 6px;
      border-radius: 5px;
      background-color: #f0f0f0;
      color: var(--color-primary);
    }
  }

  ul {
    padding-left: 16px;
  }

  li {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--color-gray-3);
    margin-bottom: 16px;
    p {
      position: relative;
      left: 4px;
    }
    &::marker {
      // font-size: 24px;
      color: var(--color-warn);
    }
  }

  blockquote {
    margin: 0 0 30px 0;
    padding: 24px 24px 1px 24px;
    border-left: 8px solid var(--color-warn);
    background-color: var(--color-warn-very-light);
  }

  table,
  th,
  td {
    border: 1px solid;
  }

  em {
    font-style: normal;
    padding: 1px 3px;
    border-radius: 3px;
    background-color: #ffff66;
    color: black;
  }

  hr {
    padding: 0;
    margin: 40px 0;
    border-top: 0.5px solid var(--color-gray-C);
  }
}