@use '@angular/material' as mat;

@include mat.core();

$sw-primary: mat.define-palette(mat.$light-blue-palette, 600); // #00B8D4
$sw-accent: mat.define-palette(mat.$yellow-palette, A700); // #FFD600
$sw-warn: mat.define-palette(mat.$orange-palette, A700); // #FF6D00

$sw-theme: mat.define-light-theme((color: (primary: $sw-primary, warn: $sw-warn, accent: $sw-accent)));

@include mat.all-component-themes($sw-theme);
