.content-container {
  // padding: 10px 23px 23px 23px;
}
.form-container {
  // margin: auto;
  margin: 0;
  // width: 100%;
  padding: 0px 22px 8px;
  background-color: #F8F8F8;
}
.list-container {
  margin: 0;
  // width: 100%;
  padding: 0px 22px 8px;
  min-height: 100vh;
}
